@model TrashCollector.Models.ServiceDay

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ServiceDay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServiceAddress.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceAddress.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tuesday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tuesday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wednesday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wednesday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thursday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thursday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Friday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Friday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Saturday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saturday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frequency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeginDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeginDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ServiceDayID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
