@model IEnumerable<TrashCollector.Models.ServiceAddress>

@{
    ViewBag.Title = "Address";
}

<h2>Service Address List</h2>

<p>
    <strong>@Html.ActionLink("Add New Address", "Create")</strong>
</p>
<table class="table">
    <tr>
        @if (!Context.User.IsInRole("Customer"))
        {
            <th>
                @Html.DisplayNameFor(model => model.Customer.FirstName)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @if (!Context.User.IsInRole("Customer"))
        {
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
        }
            <td>
                @Html.DisplayFor(modelItem => item.Address1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ServiceAddressID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ServiceAddressID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ServiceAddressID })
            </td>
        </tr>
}

</table>
